<nav class="navbar-default navbar-side" role="navigation" style="height: 100%; margin-top: -20px;">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu" style="display: block !important;">
            <li>
                <a class="active-menu waves-effect waves-dark" routerLink="/employees"><i class="fa fa-dashboard"></i> Employee Report</a>
            </li>
            <li>
                <a routerLink="/employee/add" class="waves-effect waves-dark"><i class="fa fa-desktop"></i>Add Employee</a>
            </li>
            <li>
                <a routerLink="/salary" class="waves-effect waves-dark"><i class="fa fa-bar-chart-o"></i>Salary Report</a>
            </li>
            <li>
                <a routerLink="/salary/add" class="waves-effect waves-dark"><i class="fa fa-qrcode"></i>Add Salary</a>
            </li>
            <li>
                <a routerLink="/departments" class="waves-effect waves-dark"><i class="fa fa-qrcode"></i>Department Report</a>
            </li>
            <li>
                <a routerLink="/department/add" class="waves-effect waves-dark"><i class="fa fa-qrcode"></i>Add Department</a>
            </li>
            <li>
                <a routerLink (click)="logout()" class="waves-effect waves-dark"><i class="fa fa-fw fa-file"></i>Logout</a>
            </li>
        </ul>
    </div>
</nav>