<div class="login-block">
    <div class="container">
        <div class="row">
            <div class="col-md-4 login-sec">
                <h2 class="text-center">Login Now</h2>
                <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate  class="login-form">
                    <div class="form-group">
                        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
                            {{ errorMessage }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="text-uppercase">Username</label>
                        <input type="text" class="form-control" placeholder="" name="login_email"
                        [(ngModel)]="form.login_email" >
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="text-uppercase">Password</label>
                        <input type="password" class="form-control" placeholder="" name="login_password"
                        [(ngModel)]="form.login_password" >
                    </div>
                    <div class="form-check">
                        <button type="reset" class="btn btn-login float-right" style="width: 100px;">Reset</button>
                        <button type="submit" class="btn btn-login float-right" style="margin-right:10px; width: 100px;">Login</button>

                    </div>
                </form>
            </div>
            <div class="col-md-8 banner-sec">
            </div>
        </div>
      </div>
</div>